body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  td {
    text-align: center;
    border: 1px solid black;
    border-bottom: 1px solid #00f;
  }
  img{
    width:100px;
    height:100px;
  }
  
  div.footer {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
    text-align: center;
  }
  
  div.dotted {
    border-style: dotted;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    background-color: lightgreen;
  }
  div.dashed {
    border-style: dashed;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    background-color: yellow;
    }
  div.solid {
    border-style: solid;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    background-color: pink;
    }
  
  
  .heading {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .subheading {
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: italic;
  }
  .links {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
  }
  
  #title{
    background-color: darkblue;
  }
  
  /* unvisited link */
  a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }